body{
    background-color: rgb(1, 14, 14);
    color: antiquewhite;
}
.head{
    text-align: center;
    font-size: 30px;
    text-decoration: overline;


}
a{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 5px;
}
a:hover{
    color: black;
    background-color: wheat;
    text-decoration: underline;
}

